<h4>Edit</h4>
<mat-card>
  <form class="container" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <!--* form #f * (ngSubmit)="onSubmit(f)" #f="ngForm"-->
    <!--* @ChidView() * (ngSubmit)="onSubmit()" #f="ngForm"-->
    <mat-form-field>
      <input matInput ngModel name="name" placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Image URL" />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
    <div class="fxRow" fxLayoutGap="18px">
      <mat-form-field>
        <input matInput placeholder="Ingredient" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Qty" />
      </mat-form-field>
      <mat-divider></mat-divider>
    </div>
    <div class="fxRow" fxLayoutGap="18px">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button color="warn" type="reset">Cancel</button>
    </div>
  </form>
  <p *ngIf="name"> {{name}} has been saved!</p>
</mat-card>
